
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="particles-js" class="login-body">
    <h2>React Main Page</h2>

    <div id="root"></div>
</div>

@section scripts {
    <script src="~/Scripts/react/dist/bundle.js"></script>
}