
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- <div id="particles-js" class="login-body"> -->
<div id="root"></div>
<!-- </div> -->

@section scripts {
    <script src="~/Scripts/react/dist/bundle.js"></script>
}
