@import "ChatStyles.css";
@import "Email.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    all: unset;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: none !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container {
    max-width: none !important;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
#root {
    width: 100%;
    height: 100%;
    min-width: 1400px;
}
#root > div{
    width:100%
}
#root > div > div >div > canvas{
    z-index:0;
}
#root > div > div:nth-child(1) {
    width:100%;
    height:100%;
}
#root > div > div:nth-child(2) {
    height: 100%;
}
.login-body {
    width: 100%;
    height: 100%;
    /* max-height: 420px; */
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.login-type-typography {
    padding: 40px 35px 10px;
    width: 95%;
    max-width: 450px;
    min-height: 400px;
    z-index: 20;
}
.login-typography {
    padding: 40px 35px 10px;
    width: 95%;
    max-width: 380px;
    min-height: 350px;
    z-index: 20;
}
.login-header {
    height: 100px;
    width: 100%;
}
.login-text-confirm {
    padding: 15px 0px 10px 0px;
    font-family: Raleway,sans-serif;
    font-weight: normal;
    font-size: 15px;
    font-weight: 200;
    color: #3c3c3b;
}
.login-button {
    width: 248px;
    height: 43px;
    padding: 6px 12px;
    background-color: #781341;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    border: 1px solid transparent;
}
.login-button-worker {
    margin: 15px 65px 0px 65px;
}
.login-button-student {
    margin: 15px 65px 15px 65px;
}
.login-header > a > img {
    height: 90px;
}
.login-cant-login-text {
    color: #781341;
    cursor: pointer;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 10px;
}
.login-field {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 18px !important;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    background-color: rgb(232, 240, 254) !important;
    max-width: none !important;
}
#login-username-field {
    font-size: 18px !important;
    height:45px;
}
#login-password-field {
    font-size: 18px !important;
    height:45px;
}
.login-password{
    margin-top:1rem;
    margin-bottom:2rem;
}
.login-username{
    margin-top:1rem;
    margin-bottom:1rem;
}
.login-button-login{
    margin: 5px 65px 20px 65px;
}
.login-username > div > div:nth-child(1) {
    align-self: center;
}
.login-username > div {
    color: #989898;
}
    /*.login-username > div > div > div > div > input:focus .login-username> div > div > svg {
        color: #78003F;
    }*/
.login-username > div > div:nth-child(2){
    width:90%;
}
.login-username > div > div:nth-child(2) > :nth-child(1){
    height: 100%;
}
.login-password > div {
    color: #989898;
}
/*.login-password > div > div > div > div > input:focus + .login-password > div > div > svg{
    color: #78003F;
}*/
.login-password > div > div:nth-child(1) {
    align-self:center;
}
.login-password > div > div:nth-child(2) {
    width: 90%;
}

.login-password > div > div:nth-child(2) > :nth-child(1) {
    height: 100%;
}
.login-unsuccesful {
    font-size: 15px;
    color: #781341;
}
.particles-login > div:nth-child(1){
    position:fixed;
}
.particles-login {
    height: 100%;
    background-color: #781341;
}


#root > div > div.navbar-fixed {
    width: 10%;
}
#root > div > main > div.row {
    display: flex;
    flex-wrap: wrap;
}
#root > div > main > div.row> div.m8{
    width:50%;
}
.margin-left-10 {
    margin-left: 10px;
}